@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <img src="~/images/BlazorWasm.jpg"/>
            <img src="~/images/EfCorePlusDotNet.png"/>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="contactInfoModal" tabindex="-1" role="dialog" aria-labelledby="contactInfoModalLabel" aria-hidden="true" data-backdrop="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="contactInfoModalLabel">Contact Information</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-sm">
                            <span class="oi oi-envelope-closed" aria-hidden="true"></span>  Email Address
                        </div>
                        <div class="col-sm">
                            <b>arusse02@gmail.com</b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm">
                            <span class="oi oi-phone" aria-hidden="true"></span>     Phone Number
                        </div>
                        <div class="col-sm">
                            <b>949-446-5504</b>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>