@using Microsoft.Extensions.Configuration
@inject NavigationManager Navigation
@inject IConfiguration Configuration
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">Dynamic Resume</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Overview
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="codeSnippet">
                <span class="oi oi-cloud" aria-hidden="true"></span> Code Samples
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="WebsiteDesign">
                <span class="oi oi-terminal" aria-hidden="true"></span> Website Design
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="signalRDemo">
                <span class="oi oi-terminal" aria-hidden="true"></span> Signal R Demo
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" @onclick="(() => this.GotoAPI())">
                <span class="oi oi-code" aria-hidden="true"></span> API
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="#contactInfoModal" data-toggle="modal" data-target="#contactInfoModal">
                <span class="oi oi-envelope-closed" aria-hidden="true"></span> Contact
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void GotoAPI()
    {
        this.Navigation.NavigateTo(this.Configuration["restAPIBasePath"] + "swagger/index.html", true);
    }
}
