@using AubreyRussellClient.Repository
@page "/codeSnippet"
@inject IJSRuntime jsRuntime
<h3>This page is still under construction!</h3>
<article></article>
@code {
    [Inject]
    public ResumeHttpRepository ResumeRepo { get; set; }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        //var tes = await ResumeRepo.GetResumeContent();
        await base.OnAfterRenderAsync(firstRender);
        if (firstRender)
        {
            await jsRuntime.InvokeVoidAsync("UpdateText");
        }
    }
}

