@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<div class=".container-fluid text-center" style="margin: 5%">
    <h1>Bootstrap 4 starter template</h1>
    <p class="lead">
        Use this document as a way to quickly start any new project.
        All you get is this text and a mostly barebones HTML document sdasdadsasdasasdad.
    </p>
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <ul class="borderless list-group">
                    <li class="list-group-item"><h3><b><u>Professional Experience</u></b></h3></li>
                    <li class="list-group-item" style="margin-top: 10px; margin-right: auto; width: 100%;">
                        <div style="display: flex; width: auto;">
                            <div style="font-size: 28px; color: #3465A4;">
                                Raytheon, Electronic Warfare
                            </div>
                            <div style="font-size: 14px; color: #d3d3d3; margin-left: auto; margin-top: 12px;">
                                2016-Current
                            </div>
                        </div>
                    </li>

                    <li class="list-group-item" style="margin-top: 10px;">
                        <b>Performance Review:</b>“Throughout the year, Aubrey has shown he exhibits the spectrum of Raytheon values in his daily interactions,
                        making him an especially effective team leader and ambassador for new employees. Aubrey has provided exceptional contributions this
                        year and has been instrumental in maturing an important software product line.” <b>Exceptional Rating 5/5</b>
                    </li>

                    <li class="list-group-item" style="margin-top: 10px; margin-right: auto;">
                        <b>Major Impacts</b>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Optimized algorithm efficiency, locality, memory allocations, SIMD instructions, and concurrency to
                            drastically improve performance in a multi-threaded pipeline and secure a 10 million dollar contract.
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Interfaced directly with important external customers and translated their requirements into complex
                            software features necessitating object oriented and SOLID design principles.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Implemented proprietary software features that saved several programs hundreds of thousands of dollars
                            and hundreds of hours of time; received a monetary achievement award as a result.
                        </div>
                    </li>

                    <li class="list-group-item" style="margin-top: 10px; margin-right: auto;">
                        <b>Major Impacts</b>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Optimized algorithm efficiency, locality, memory allocations, SIMD instructions, and concurrency to
                            drastically improve performance in a multi-threaded pipeline and secure a 10 million dollar contract.
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Interfaced directly with important external customers and translated their requirements into complex
                            software features necessitating object oriented and SOLID design principles.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Implemented proprietary software features that saved several programs hundreds of thousands of dollars
                            and hundreds of hours of time; received a monetary achievement award as a result.
                        </div>
                    </li>

                    <li class="list-group-item" style="margin-top: 10px; margin-right: auto;">
                        <b>Major Impacts</b>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Optimized algorithm efficiency, locality, memory allocations, SIMD instructions, and concurrency to
                            drastically improve performance in a multi-threaded pipeline and secure a 10 million dollar contract.
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Interfaced directly with important external customers and translated their requirements into complex
                            software features necessitating object oriented and SOLID design principles.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Implemented proprietary software features that saved several programs hundreds of thousands of dollars
                            and hundreds of hours of time; received a monetary achievement award as a result.
                        </div>
                    </li>

                    <li class="list-group-item" style="margin-top: 10px; margin-right: auto;">
                        <b>Major Impacts</b>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Optimized algorithm efficiency, locality, memory allocations, SIMD instructions, and concurrency to
                            drastically improve performance in a multi-threaded pipeline and secure a 10 million dollar contract.
                        </div>

                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Interfaced directly with important external customers and translated their requirements into complex
                            software features necessitating object oriented and SOLID design principles.
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="text-elem">
                            - Implemented proprietary software features that saved several programs hundreds of thousands of dollars
                            and hundreds of hours of time; received a monetary achievement award as a result.
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-body">
                <ul class="borderless list-group">
                    <li class="list-group-item"><h3><b><u>Languages</u></b></h3></li>
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">C++/CLI</li>
                    <li class="list-group-item">C++</li>
                    <li class="list-group-item">C</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">ASP.NET Core MVC</li>
                    <li class="list-group-item">Blazor Server/WASM</li>
                    <li class="list-group-item">MySQL</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">XAML</li>
                    <li class="list-group-item">HTML/CSS</li>
                </ul>

                <ul class="borderless list-group" style="margin-top: 20px;">
                    <li class="list-group-item"><h3><b><u>Skills</u></b></h3></li>
                    <li class="list-group-item">Object Oriented Design</li>
                    <li class="list-group-item">Design Documents</li>
                    <li class="list-group-item">Automated Testing</li>
                    <li class="list-group-item">Good GUI Design</li>
                    <li class="list-group-item">Code Analysis</li>
                    <li class="list-group-item">Code Review</li>
                    <li class="list-group-item">Scrum Agile</li>
                    <li class="list-group-item">Jenkins</li>
                    <li class="list-group-item">Git</li>
                    <li class="list-group-item">Github Enterprise</li>
                    <li class="list-group-item">Using APIs</li>
                    <li class="list-group-item">Building APIs</li>
                    <li class="list-group-item">Plugin Architecture</li>
                    <li class="list-group-item">Full Stack Development</li>
                    <li class="list-group-item">Entity Framework</li>
                    <li class="list-group-item">Xilinx SDK</li>
                    <li class="list-group-item">Visual Studio 2019</li>
                    <li class="list-group-item">Parallel Programming</li>
                    <li class="list-group-item">Concurrency</li>
                    <li class="list-group-item">Multi threaded Debugging</li>
                    <li class="list-group-item">Task Based Programming</li>
                    <li class="list-group-item">Performance Benchmarking</li>
                    <li class="list-group-item">SIMD (AVX2) Vectorization</li>
                    <li class="list-group-item">Garbage Collection Analysis</li>
                </ul>

                <ul class="borderless list-group" style="margin-top: 20px;">
                    <li class="list-group-item"><h3><b><u>Interests</u></b></h3></li>
                    <li class="list-group-item">GPU Acceleration</li>
                    <li class="list-group-item">AI/Machine Learning</li>
                    <li class="list-group-item">Software Defined Radios</li>
                    <li class="list-group-item">Optimization</li>
                    <li class="list-group-item">Big O</li>
                    <li class="list-group-item">Data Structures</li>
                    <li class="list-group-item">Algorithms</li>
                    <li class="list-group-item">Async/Await Pattern</li>
                    <li class="list-group-item">FPGAs/SOCs</li>
                    <li class="list-group-item">Embedded Systems</li>
                    <li class="list-group-item">IOT</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- /.container -->
<!-- /.container -->
